body, html{
    background-color: greenyellow;
}

header{
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size:50px;
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-family: 'Patrick Hand', cursive;  
    font-size: 30px;
}

li{
    list-style-type: none;
}


